@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/variables";
@import "~node_modules/bootstrap/scss/mixins";
$menu-color-active:   #0073aa;
$menu-background:#23282d;
$theme-colors: (
  "primary":#0073aa,
  "danger": #ff4136
);