<div class="py-1 post-options-item">
  <app-post-options-categories (onChange)="onCategoriesChange($event)"></app-post-options-categories>
</div>
<div class="py-1 post-options-item">
  <app-post-options-status (onChange)="onStatusChange($event)"></app-post-options-status>
</div>
<div class="py-1 post-options-item">
  <app-post-options-excerpt (onChange)="onExcerptChange($event)"></app-post-options-excerpt>
</div>
<div class="py-1 post-options-item">
  <app-post-options-image-feature (onChange)="onImageFeatureChange($event)"></app-post-options-image-feature>
</div>
<div class="py-1 post-options-item">
  <app-post-options-authors (onChange)="onAuthorsChange($event)"></app-post-options-authors>
</div>
<div class="py-1 post-options-item">
  <app-post-options-tags (onChange)="onTagsChange($event)"></app-post-options-tags>
</div>